<template>
  <div>
    <b-container>
      <b-card class="mt-3" header="Login">
        <b-form class="login" @submit.prevent="login">
          <b-form-group
              id="username-group"
              label="Username:"
              label-for="username">
            <b-form-input
                id="username"
                v-model="username"
                placeholder="Enter username"
                required
            ></b-form-input>
          </b-form-group>

          <b-form-group
              id="password-group"
              label="Password:"
              label-for="password">
            <b-form-input
                id="password"
                type="password"
                v-model="password"
                placeholder="Enter password"
                required
            ></b-form-input>
          </b-form-group>
          <b-button type="submit" variant="primary">Submit</b-button>
        </b-form>
      </b-card>
    </b-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      username: '',
      password: '',
    }
  },
  methods: {
    login: function () {
      let login = this.username
      let password = this.password
      this.$store.dispatch('login', {login, password})
          .then(() => this.$router.push('/'))
          .catch(err => console.log(err))
    }
  }
}
</script>