<template>
  <div>
    <b-container>
      <b-card class="mt-3" header="Register">
        <b-form @submit.prevent="register" v-if="show">
          <b-form-group
              id="login-group"
              label="Login:"
              label-for="login">
            <b-form-input
                id="login"
                v-model="login"
                placeholder="Enter login"
                required
            ></b-form-input>
          </b-form-group>

          <b-form-group
              id="email-group"
              label="Email:"
              label-for="email">
            <b-form-input
                id="email"
                type="email"
                v-model="email"
                placeholder="Enter email"
                required
            ></b-form-input>
          </b-form-group>

          <b-form-group
              id="firstname-group"
              label="First name:"
              label-for="firstname">
            <b-form-input
                id="firstname"
                v-model="firstname"
                placeholder="Enter your first name"
                required
            ></b-form-input>
          </b-form-group>

          <b-form-group
              id="lastname-group"
              label="Last name:"
              label-for="lastname">
            <b-form-input
                id="lastname"
                v-model="lastname"
                placeholder="Enter your last name"
                required
            ></b-form-input>
          </b-form-group>

          <b-form-group
              id="password-group"
              label="Password:"
              label-for="password">
            <b-form-input
                id="password"
                type="password"
                v-model="password"
                placeholder="Enter password"
                required
            ></b-form-input>
          </b-form-group>
          <b-button type="submit" variant="primary">Submit</b-button>
        </b-form>
      </b-card>
    </b-container>
  </div>
</template>

<script>
export default {
  name: 'register',
  data() {
    return {
      login: '',
      email: '',
      firstname: '',
      lastname: '',
      password: '',
      password_confirmation: "",
      show: true
    }
  },
  methods: {
    register: function () {
      let data = JSON.stringify({
        login: this.login,
        email: this.email,
        firstname: this.firstname,
        lastname: this.lastname,
        password: this.password,
      }, null, '\t')
      this.$store.dispatch('register', data)
          .then(() => this.$router.push('/'))
          .catch(err => console.log(err))
    }
  }
}
</script>