<template>
  <div id="report">
    <h1>Report</h1>
    <div>Analysis date: {{ item.analysisDate }}</div>
    <div>Repository: {{ item.repositoryRef }}</div>
    <div>Status: {{ item.status }}</div>
    <div>Content: {{ item.content }}</div>
    <div>ID: {{ item.id }}</div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Report',
  data() {
    return {
      item: {
        analysisDate: '',
        repositoryRef: '',
        status: '',
        content: '',
        id: ''
      }
    }
  },
  async created() {
    try {
      const id = this.$route.params.id
      const res = await axios.get('https://localhost:5012/api/reports/' + id)

      this.item = res.data.data.report;
    } catch (e) {
      console.error(e)
    }
  },
}
</script>