<template>
  <div id="repository">
    <h1>Repository</h1>
    <div>Name: {{ item.name }}</div>
    <div>Base: {{ item.isBase }}</div>
    <div>id: {{ item.id }}</div>
  </div>

</template>

<script>
import axios from 'axios';

export default {
  name: 'Repositories',
  data() {
    return {
      item: {}
    }
  },
  async created() {
    try {
      const id = this.$route.params.id
      const res = await axios.get(`https://localhost:5012/api/repositories/` + id)

      this.item = res.data.data.repository;
      console.log(this.item)
    } catch (e) {
      console.error(e)
    }
  },
}
</script>