<template>
  <div id="report">
    <b-container>
      <h1>Reports</h1>
      <b-table :items="items"
               :fields="fields"
               bordered hover
               selectable
               @row-clicked="onRowClicked">
      </b-table>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Reports',
  data() {
    return {
      fields: ['repositoryName', 'status', 'analysisDate'],
      items: []
    }
  },
  async created() {
    try {
      const res = await axios.get('https://localhost:5012/api/reports/')
      this.items = res.data.data.reports;
      console.log(this.items)
    } catch (e) {
      console.error(e)
    }
  },
  methods: {
    onRowClicked(items) {
      this.$router.push({path: `/report/${items.id}`})
    },
  }
}
</script>