<template>
  <div id="repositories">
    <b-container class="bv-example-row">
      <h1>Repositories</h1>
      <b-row class="justify-content-md-center pb-2">
        <b-form>
          Add new repository:
          <b-form-input name="name"
                        v-model="form.name"
                        type="text"
                        placeholder="Repository name"
                        required>
          </b-form-input>
          Select file:
          <b-form-file
              v-model="form.file"
              :state="Boolean(form.file)"
              placeholder="Choose a file or drop it here..."
              drop-placeholder="Drop file here..."
              required>
          </b-form-file>
          Is it base repository?
          <b-form-radio v-model="form.isBase" v-bind:value="true">Yes</b-form-radio>
          <b-form-radio v-model="form.isBase" v-bind:value="false">No</b-form-radio>
          <b-button @click="processForm" type="button" variant="primary">Add</b-button>
        </b-form>
      </b-row>


      <b-form>
        <b-table :items="items"
                 :fields="fields"
                 :select-mode="selectMode"
                 selectable
                 @row-selected="onRowSelected"
                 bordered hover>
          <template #cell(analysis)="{ rowSelected }">
            <template v-if="rowSelected">
              <span aria-hidden="true">&check;</span>
            </template>
            <template v-else>
              <span aria-hidden="true">&nbsp;</span>
            </template>
          </template>
          <template v-slot:cell(name)="items">
            <router-link :to="`/repository/${items.item.id}`">{{ items.value }}</router-link>
          </template>
        </b-table>
        <b-button @click="sendAnalysis" type="button" variant="primary">Analyze</b-button>
      </b-form>
      {{ selected }}
    </b-container>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Repositories',
  data() {
    return {
      selected: [],
      selectMode: 'multi',
      form: {
        name: '',
        file: null,
        isBase: false
      },
      fields: [
        'analysis',
        {
          key: 'name',
          sortable: true
        },
        {
          key: 'isBase',
          sortable: true
        }
      ],
      items: []
    }
  },
  async created() {
    try {
      const res = await axios.get(`https://localhost:5012/api/repositories/`)
      this.items = res.data.data.repositories;
    } catch (e) {
      console.error(e)
    }
  },
  methods: {
    onRowSelected(items) {
      this.selected = items.map(items => items.id)
    },
    processForm: async function () {
			let formData = new FormData();
			formData.append('files', this.form.file)
      formData.append("name", this.form.name)
			formData.append("isBase", this.form.isBase)
			for (var value of formData.values()) {
        console.log(value);
      }
			await axios.post("https://localhost:5012/api/repositories/", formData, { headers: {'Content-Type': 'multipart/form-data'} })
			try {
				const res = await axios.get(`https://localhost:5012/api/repositories/`)
				this.items = res.data.data.repositories;
			} catch (e) {
				console.error(e)
			}
		},
    sendAnalysis: async function () {
      const response = await axios.post("https://localhost:5012/api/reports/", { "repositoryrefs" : this.selected });
      console.log(response)
    }
  }
}
</script>