<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link>
      |
      <span v-if="isLoggedIn">
        <router-link to="/repositories">Repositories</router-link>
        |
        <router-link to="/reports">Reports</router-link>
        |
        <a @click="logout">Logout</a>
      </span>
      <span v-if="!isLoggedIn">
        <router-link v-if="!isLoggedIn" to="/login">Login</router-link>
        |
        <router-link v-if="!isLoggedIn" to="/register">Register</router-link>
      </span>
    </div>
    <router-view/>
  </div>
</template>

<script>
export default {
  computed: {
    isLoggedIn: function () {
      return this.$store.getters.isLoggedIn
    }
  },
  methods: {
    logout: function () {
      this.$store.dispatch('logout')
          .then(() => {
            this.$router.push('/')
          })
    }
  },
}
</script>
